PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/foodvally?schema=public"
NODE_ENV=development

JWT_ACCESS_SECRET=3v1EEC7bbuJITPgbVlMUr4l3jY2Enqot
JWT_REFRESH_SECRET=3v1EEC7bbuJITPgbVlMUr4l3jY2Enqot
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
EMAIL_FROM=no-reply@foodvally.com

GOOGLE_CLIENT_ID=your_google_client_id
